#image	{
float: right;
width: 70%;
margin-left: 20px;
padding-top:20px;
}

#imgnav	{
float: left:
width: 30%;
margin-top: 20px;
margin-right: 70%
}

#imgnav a	{
	font-size: 80%;
	line-height: 1.2em;
	color: #ffffff;
	}

#title	{
	position: absolute;
	top: 260px;
	left: 10px;
		}
	
#title h1, p	{
	margin-top: 0;
	margin-bottom: 0;
	}
	
a:link {text-decoration: none;
font-size: 11px;
line-height: 13px;
font-family: verdana, arial, helvetica, sans-serif, serif;
color: #ffffff}

a:visited {text-decoration: none;
font-size: 10px;
line-height: 12px;
font-family: verdana, arial, helvetica, sans-serif, serif;
color: #bbbbbb
}

a:hover {text-decoration: none;
	color: #990000}

a:active {text-decoration: none;
font-size: 10px;
line-height: 12px;
font-style: italic;
font-family: verdana, arial, helvetica, sans-serif, serif;
color: #ffffff}

H1 	{font-size: 12px;
	line-height: 24px;
	font-weight: bold;
    letter-spacing: 2px;
	font-family: verdana, arial, helvetica, sans-serif, serif;
	color: #999999;
		}


H2  {font-size: 24pt;
     line-height: 24pt;
     letter-spacing: 2pt;
     font-family: verdana, arial, helvetica, sans-serif, serif;
     color: #faf0e6}

H2.back {background-color: "black" }


H3   {font-size: 12pt;
      line-height: 14pt;
	font-weight: bold;
        letter-spacing: 6pt;
        font-family: verdana, arial, helvetica, sans-serif;
	color: #333333}

.cen	{color: #999999;
	text-align: center }


P  	{font-family: verdana, arial, helvetica, sans-serif, serif;
	font-size: 80%;
     line-height: 1.2em;
	color: #faf0e6     
      }

.big	{font-family: verdana, arial, helvetica, sans-serif, serif;
	font-size: 110%;
	line-height: 1.2em;}

.b	{font-weight: bold }

.r	{text-align: right}

.l	{text-align: left}

.c	{text-align: center;
	letter-spacing: 1;
	color="999999" }

.w	{color: #ffffff}
.black	{color: #000000}
.linen	{color: #faf0e6}
.grey	{color: #333333}
.red	{color: #990000}
.crimson {background: #630000;
	color: silver }
.ip	{color: #008b8b}

.back	{background-color: #666666}

.small	{font-size: 7pt;
	letter-spacing: 2}

Body 	{background: #000000;
	margin-top: 0px;
	margin-height: 0px;
	}


td	{font-size: 12px;
    	 line-height: 14px;
         font-family: verdana, arial, helvetica, sans-serif, serif;
    	 color: #faf0e6;
		}
		 
th	{font-size: 10px;
    	 line-height: 13px;
		 letter-spacing: 1px;
         font-family: verdana, arial, helvetica, sans-serif, serif;
		 background: #990000;
    	 color: #faf0e6}

B  {	font-size= 9pt;
	font-weight: bold;
	color: #666666; 
	text-transform: uppercase}



.wide	{letter-spacing: 4pt}

I  	{font-size: 10pt;
	line-height: 13pt;
    	}

OL 	{margin-left: 55px; 
	
	font-size: 12pt;
	font-family: arial, helvetica, sans-serif, serif}

.dash	{border:  dashed;
	border-left-width: 12px;
	border-right-width: 12px;
	border-top-width: 4px;
	border-bottom-width: 4px;
	border-color: #000000}

.dot	{border-style: dotted;
	border-bottom: dotted;
	border-width: thin;
	color: #000000}
